
            <div class="cover-image" style="background-image: url(/assets/forrest_bg.jpg);"></div>
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h1 class="text-inverse">Automaton</h1>
                        <p class="text-inverse">A Generic Automation Framework</p>
                        <br>
                        <br>
                        <%= button_to("Let's go", new_user_session_path, class: "btn btn-lg btn-primary") %>

                    </div>
                </div>
            </div>
