<h1>Editing Configuration Detail Type</h1>

<%= render 'form', configuration_detail_type: @configuration_detail_type %>

<%= link_to 'Show', @configuration_detail_type %> |
<%= link_to 'Back', configuration_detail_types_path %>
