
    <script>
        $(function() {
            $("#jsGrid").jsGrid({
                height: "80%",
                width: "100%",
                filtering: true,
                inserting: true,
                editing: true,
                sorting: true,
                paging: true,
                autoload: true,
                pageSize: 10,
                pageButtonCount: 5,
                deleteConfirm: "Do you really want to delete client?",
                controller: {
                    loadData: function(filter) {
                        return $.ajax({
                            type: "GET",
                            url: "/configuration_detail_types",
                            data: filter
                        });
                    },
                    insertItem: function(item) {
                        return $.ajax({
                            type: "POST",
                            url: "/clients",
                            data: item
                        });
                    },
                    updateItem: function(item) {
                        return $.ajax({
                            type: "PUT",
                            url: "/clients/" + item.id,
                            data: item
                        });
                    },
                    deleteItem: function(item) {
                        return $.ajax({
                            type: "DELETE",
                            url: "/clients/" + item.id
                        });
                    }
                },
                fields: [
                    { name: "name", type: "text", width: 150 },
                    { name: "description", type: "text", width: 200 },
                ]
            });
        });
    </script>
fd;lkfg;l;l

<div id="jsGrid"></div>
fd;lkfg;l;l
