<h1>Editing Configuration Detail</h1>

<%= render 'form', configuration_detail: @configuration_detail %>

<%= link_to 'Show', @configuration_detail %> |
<%= link_to 'Back', configuration_details_path %>
