<!DOCTYPE html>
<html>
  <head>
    <title>Automaton</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="cover">

        <div class="cover-image" style="background-image: url(/assets/bg_penguin.jpg);"></div>
        <div class="container">
          <div class="row">
            <div class="col-md-4 col-centered">
    <%= yield %>
  </div>


</div>

</div>
</div>
  </body>
</html>
