<script>
configure_format=<%=raw ConfigurationDetailType.all.index_by(&:id).to_json%>;
console.log(configure_format);
$(function(){
  $('body').on('click', '.edit_data', function(event) {
    configure_data_field=event.target
    configure_type=get_configure_type(event.target.id);
    $('#enter_configure_data').modal('show');
    create_form(configure_type);
    console.log(configure_type);
  });
  $('body').on('click', '#save_configure_data', function(e) {
    if (!e)
    e = window.event;

    //IE9 & Other Browsers
    if (e.stopPropagation) {
      e.stopPropagation();
    }
    //IE8 and Lower
    else {
      e.cancelBubble = true;
    }
    $('#enter_configure_data').modal('hide');
    configure_data="";
    var elements = document.getElementById("configure_data_form").elements;
    for(var i = 0 ; i < elements.length ; i++){
      var item = elements.item(i);
      configure_data+= ":"+item.value;
    }

    configure_data_field.value=configure_data.substring(1);

    console.log("saving data");
  });

});


function get_configure_type(dev_id) {
  type_id=dev_id.replace("configuration_detail_data","configuration_detail_type_id");
  configure_type={name: $("#"+type_id+" option:selected").text(), id: +$("#"+type_id+" option:selected").val()};
  return configure_type;

};

function create_form(configure_type){
  $("#data").empty();



  html_output=' <div class="modal-header">';
  html_output+='<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>';
  html_output+='<h4 class="modal-title" id="myModalLabel">'+configure_type.name+'</h4>';
  configure_format_json=JSON.parse(configure_format[configure_type.id].configure_format);

  html_output+='</div>';
  html_output+=' <div class="modal-body ">';
  html_output+=' <form id=configure_data_form ">';

  for(var i = 0; i < configure_format_json.length; i++) {
    var obj = configure_format_json[i];
    html_output+='<div class="form-group ">';

    if (Array.isArray(obj)){

      html_output+='<label>' +obj[0]+'</label>';
      html_output+='<select class="form-control" id="sel1">';
      for(var ii = 0; ii < obj[1].length; ii++) {
        html_output+='<option>'+obj[1][ii] +'</option>';
        console.log(obj[i][1][ii]);
      }
      html_output+='</select>';
    }
    else {
      html_output+='<label>' +obj+'</label>';
      html_output+='<input type="text" class="form-control" id="firstnameinput" aria-describedby="firstnameinput" required="">';
    }
    html_output+='</div>';
  }

  html_output+='<a href="#" id=save_configure_data >Save</a>';
  html_output+=' </form">';

  $("#data").append(html_output);


};




</script>
