<h1>Editing Configuration Template</h1>

<%= render 'form', configuration_template: @configuration_template %>

<%= link_to 'Show', @configuration_template %> |
<%= link_to 'Back', configuration_templates_path %>
